{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <div class="wrapper">
        <div class="form-title">Buy</div>
        <form action="/buy" method="post">
            <div class="form-group">
                <input autofocus name="symbol" type="text" class="form-control" placeholder="Stock symbol" required>
            </div>
            <div class="form-group">
                <input name="shares" type="number" class="form-control" min="1" placeholder="Shares number" required>
            </div>
            <button type="submit">Buy!</button>
        </form>
    </div>
{% endblock %}